body {
    font-family: -apple-system, 'Helvetica Neue', 'Arial', 'Verdana';
    font-size: 18px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

h1 { 
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em; 
    padding-top: 0.7em;
    padding-bottom: 0.3em;
}

p {
    font-size: 1.4em;
    padding-top: 2px;
    padding-bottom: 2px;
}

.post-it { 
    background:#f3f3e3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size:15px;
    color: #000;
    width: 400px;
}

.container {
    float: left;
    margin-bottom: 55px;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

/* Grid */
/*[class*='col'] {
float: left;
}*/

.col a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.col a:hover { 
    color:rgba(0,0,0,0.6); 
}

.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.col {
    border: none;
    background: #ffffff;
    width: 50%;
    height: 20em;
    /*padding: 15px;*/
    position: relative;
    border-bottom: 1px solid #fefefe;
}

.col.mobile {
    height: 10em;
}

.col h1 {
    font-size: 28px;
    padding: 0.2em;
}

.col img {
    height:100%;
    width:100%;
    object-fit: cover;
    vertical-align: top;
}

.col.portrait img {
    height:100%;
    width:50%;
    object-fit: cover;
    float: right;
    position: absolute;
    right: 0px;
}

.col.portrait .colordiv {
    height:100%;
    width:50%;
    float: right;
    position: absolute;
    right: 0px;
}

.color1 {
    background-color: #2ecc71;
}

.color2 {
    background-color: #3498db;
}

.color3 {
    background-color: #9b59b6;
}

.color4 {
    background-color: #e67e22;
}

.color5 {
    background-color: #e74c3c;
}

.color6 {
    background-color: #1abc9c;
}

.color7 {
    background-color: #34495e;
}

.color8 {
    background-color: #f1c40f;
}

.color9 {
    background-color: #95a5a6;
}


.col .textbox {
    position: absolute;
    width: 100%;
    /*height: 5em;*/
    bottom: 0px;
    background-color: #ffffff;
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=60); /* For IE8 and earlier */*/
    overflow: hidden;
}

/*.col .textbox h1 {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}*/

.col.portrait .textbox {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 0.5em;
    width: 49%;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.col.mobile h1 {
    font-size: 14px;
}

.col.mobile {
    width: 100%;
}


/*.grid:after {
content: "";
display: table;
clear: both;
}*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    overflow: visible;
    width: 100%;
    z-index: 999999;
}

header h1 {
}

nav {
    background: red;
    height: 3em;
    width: 100%;
    z-index: 9999;
}

nav h1 {
    color: #fff;
    float: right;
    font-size: 2em;
    line-height: 1.5em;
    margin-right: 50%;
}

nav ul {
}

nav ul a {
    color: #fff;
    display: block;
    font-family: -apple-system, 'Helvetica Neue';
    font-size: 1em;
    font-weight: 400;
    line-height: 3em;
    padding: 0 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li ul {
    display: none;
    left: 0;
    position: absolute;
    top:100%;
    z-index: 10;
}

nav ul li ul li {
    clear: left;
    width: 10em;
}

nav ul li ul a {
    background: red;
    border-bottom: 1px solid #fff;
    line-height: 120%;
    padding: 1em 1.2em;
}

nav ul li:hover  ul {
    display: block;
    position: absolute;
}

.mobile nav ul {
    display: none;
}



.mobile nav ul ul li {
    padding-top: 0;
    padding-left: 2em;
    padding-right: 2em;
}

.nav-trigger:checked + label {

}

.nav-trigger:checked ~ nav {
    height: 1000em;
}

.nav-trigger:checked ~ nav ul {
    display: block;
    padding-top: 3em;
}


.mobile nav ul ul {
    display: block;
    padding-top:0 !important;
}

.mobile nav ul li {
    float: none;
    width: 100%;
}

.nav-trigger {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

label[for="nav-trigger"] span {
    left: 1.2em;
    position: absolute;
    top: 1.3em;
}

label[for="nav-trigger"] span, label[for="nav-trigger"] span:before, label[for="nav-trigger"] span:after {
    background: #fff;
    border-radius: 1px;
    content: '';
    cursor: pointer;
    height: 5px;
    position: absolute;
    width: 35px;
    z-index: 2;
}

label[for="nav-trigger"] span:before {
    top: -10px;
}
label[for="nav-trigger"] span:after {
    bottom: -10px; 
}

label[for="nav-trigger"] span, label[for="nav-trigger"] span:before, label[for="nav-trigger"] span:after {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.nav-trigger:checked ~ label[for="nav-trigger"] span {
    background-color: transparent;
}

.nav-trigger:checked ~ label[for="nav-trigger"] span:before, .nav-trigger:checked ~ label[for="nav-trigger"] span:after {
    top: 0;
}

.nav-trigger:checked ~ label[for="nav-trigger"] span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-trigger:checked ~ label[for="nav-trigger"] span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

form {
    display: inline;
}

.container h1 {
    padding: .5em;
}

.container ul {
    height: 100%;
}

.container ul li {
    display: block;
}

.container ul a {
    color: black;
    display: block;
    font-family: -apple-system, 'Helvetica Neue';
    font-size: 1em;
    font-weight: 400;
    line-height: 3em;
    padding: 0 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}

article {
    font-family: -apple-system, 'Helvetica Neue';
    height: 100%;
    margin: 0 auto;
    max-width: 640px;
    padding: 3em 1em;
    width: 100%;
}

article img {
    max-width: 640px;
    width: 100%;
}

article h1 {
    font-size: 2.5em;
}

article h2 {
    font-size: 1.5em;
    color: rgba(0,0,0,.8);
}

article h3 {
    color: rgba(0,0,0,.5);
}

article #content h1 {
    font-size: 1.5em;
}

article blockquote {
    border-left: 1px solid #000;
    font-style: italic;
    margin: 1em 5px;
    padding: .5em 1em;
}

article p {
    font-size: 1em;
    line-height: 1.25em;
    text-align: justify;
}

article .permalink {
    background: red;
    color: #fff;
    float: left;
    font-size: 1em;
    height: 1em;
    line-height: .2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
