<!DOCTYPE html>
<html>
<head>
    <title>Brooklet | {{.Article.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/screen.css">
</head>
    <body>
        <article>
            <h1>{{.Article.Title}}</h1>
            <h3>{{.Article.Author}} - {{.Article.Twitter}}</h3>
            <div id="content">{{.Content}}</div>
        </article>
    </body>
</html>
